<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.tp.layerchatintegration">



    <!-- GallerySender -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- LocationSender -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Standard permissions -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <!-- Signature-only permissions -->
    <permission android:name="com.app.tp.layerchatintegration.permission.LAYER_PUSH"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.app.tp.layerchatintegration.permission.LAYER_PUSH"/>
    <permission android:name="com.app.tp.layerchatintegration.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.app.tp.layerchatintegration.permission.C2D_MESSAGE"/>

    <!-- LayerClient.sendLogs() permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ChatScreen"
            android:screenOrientation="portrait"/>


        <activity android:name=".ChatList"
            android:screenOrientation="portrait"/>



        <activity android:name=".ChatUsers"
            android:screenOrientation="portrait"/>

        <activity android:name=".HomeScreen"
            android:screenOrientation="portrait"/>

        <!-- Your custom "com.layer.sdk.PUSH" notification Receiver -->
        <receiver android:name=".LayerPushReceiver">
            <intent-filter>
                <action android:name="com.layer.sdk.PUSH"/>
                <category android:name="com.app.tp.layerchatintegration"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.layer.sdk.services.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter android:priority="470">
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <action android:name="com.google.android.c2dm.intent.REGISTER"/>
                <category android:name="com.app.tp.layerchatintegration"/>
            </intent-filter>
        </receiver>

        <!-- Layer's GCM Receiver and Service -->
        <!--<receiver android:name="com.layer.sdk.services.GcmBroadcastReceiver"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND">-->
            <!--<intent-filter android:priority="950">-->
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION"/>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE"/>-->
                <!--<category android:name="com.app.tp.layerchatintegration"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <service android:name="com.layer.sdk.services.GcmIntentService"/>
        <activity android:name=".layer.ChatMessageScreen" />
        <activity android:name=".layer.ChatListScreen" />
        <activity android:name=".babychakra.ChatConversationScreen"/>
        <activity android:name=".babychakra.ChatMessagesActivity"/>

    </application>

</manifest>
